// main: main.styl

/*
  Flaticon icon font: Flaticon
  Creation date: 28/03/2016 00:24
  */

@font-face {
font-family: "Flaticon";
src: url("../fonts/Flaticon.eot");
src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
     url("../fonts/Flaticon.woff") format("woff"),
     url("../fonts/Flaticon.ttf") format("truetype"),
     url("../fonts/Flaticon.svg#Flaticon") format("svg");
font-weight: normal;
font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
}
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
font-family: Flaticon;
font-size: 200%;
font-style: normal;
margin-left: 20px;
}

.flaticon-arrows:before { content: "\f100"; }
.flaticon-briefcase:before { content: "\f101"; }
.flaticon-business:before { content: "\f102"; }
.flaticon-clock:before { content: "\f103"; }
.flaticon-commerce:before { content: "\f104"; }
.flaticon-cross:before { content: "\f105"; }
.flaticon-crown:before { content: "\f106"; }
.flaticon-favorite:before { content: "\f107"; }
.flaticon-favorite-1:before { content: "\f108"; }
.flaticon-folder:before { content: "\f109"; }
.flaticon-food:before { content: "\f10a"; }
.flaticon-food-1:before { content: "\f10b"; }
.flaticon-food-2:before { content: "\f10c"; }
.flaticon-food-3:before { content: "\f10d"; }
.flaticon-furniture:before { content: "\f10e"; }
.flaticon-interface:before { content: "\f10f"; }
.flaticon-interface-1:before { content: "\f110"; }
.flaticon-interface-2:before { content: "\f111"; }
.flaticon-interface-3:before { content: "\f112"; }
.flaticon-luxury:before { content: "\f113"; }
.flaticon-medical:before { content: "\f114"; }
.flaticon-medical-1:before { content: "\f115"; }
.flaticon-medieval:before { content: "\f116"; }
.flaticon-monitor:before { content: "\f117"; }
.flaticon-moon:before { content: "\f118"; }
.flaticon-music:before { content: "\f119"; }
.flaticon-networking:before { content: "\f11a"; }
.flaticon-night:before { content: "\f11b"; }
.flaticon-night-1:before { content: "\f11c"; }
.flaticon-night-2:before { content: "\f11d"; }
.flaticon-notebook:before { content: "\f11e"; }
.flaticon-party:before { content: "\f11f"; }
.flaticon-party-1:before { content: "\f120"; }
.flaticon-party-2:before { content: "\f121"; }
.flaticon-party-3:before { content: "\f122"; }
.flaticon-peace:before { content: "\f123"; }
.flaticon-people:before { content: "\f124"; }
.flaticon-people-1:before { content: "\f125"; }
.flaticon-people-2:before { content: "\f126"; }
.flaticon-people-3:before { content: "\f127"; }
.flaticon-present:before { content: "\f128"; }
.flaticon-present-1:before { content: "\f129"; }
.flaticon-reading:before { content: "\f12a"; }
.flaticon-restaurant:before { content: "\f12b"; }
.flaticon-restaurant-1:before { content: "\f12c"; }
.flaticon-school:before { content: "\f12d"; }
.flaticon-school-1:before { content: "\f12e"; }
.flaticon-squares:before { content: "\f12f"; }
.flaticon-suitcase:before { content: "\f130"; }
.flaticon-sunglasses:before { content: "\f131"; }
.flaticon-technology:before { content: "\f132"; }
.flaticon-technology-1:before { content: "\f133"; }
.flaticon-technology-10:before { content: "\f134"; }
.flaticon-technology-11:before { content: "\f135"; }
.flaticon-technology-12:before { content: "\f136"; }
.flaticon-technology-13:before { content: "\f137"; }
.flaticon-technology-14:before { content: "\f138"; }
.flaticon-technology-15:before { content: "\f139"; }
.flaticon-technology-16:before { content: "\f13a"; }
.flaticon-technology-2:before { content: "\f13b"; }
.flaticon-technology-3:before { content: "\f13c"; }
.flaticon-technology-4:before { content: "\f13d"; }
.flaticon-technology-5:before { content: "\f13e"; }
.flaticon-technology-6:before { content: "\f13f"; }
.flaticon-technology-7:before { content: "\f140"; }
.flaticon-technology-8:before { content: "\f141"; }
.flaticon-technology-9:before { content: "\f142"; }
.flaticon-time:before { content: "\f143"; }
.flaticon-time-1:before { content: "\f144"; }
.flaticon-transport:before { content: "\f145"; }
.flaticon-transport-1:before { content: "\f146"; }
.flaticon-vintage:before { content: "\f147"; }
.flaticon-weapon:before { content: "\f148"; }
.flaticon-web:before { content: "\f149"; }
.flaticon-wrench:before { content: "\f14a"; }
