// main: main.styl

/* Mobile first queries */


/* Width Queries */

@media (min-width: 320px) {} //Remove {} before use


@media (min-width: 400px) {} //Remove {} before use


@media (min-width: 550px) {} //Remove {} before use


@media (min-width: 768px) {} //Remove {} before use


@media (min-width: 992px) {} //Remove {} before use


@media (min-width: 1200px) {} //Remove {} before use



/* Height Queries */

@media (min-height: 480px) {} //Remove {} before use


@media (min-height: 550px) {} //Remove {} before use


@media (min-height: 630px) {} //Remove {} before use


@media (min-height: 768px) {} //Remove {} before use


@media (min-height: 1024px) {} //Remove {} before use


@media (min-height: 1200px) {} //Remove {} before use
