// main: main.styl

/* Mobile first queries */


/* Width Queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px)

  .main-navigation
    .header-sign-up
      display inline-block
      margin 11px 50px 0 0

  .hero-section
    padding-bottom 0
    text-align left
    .iphone
      top 160px
      margin-left 0px
    .ipad
      top 40px
      width 420px
      min-width 420px

  .site-footer
    form input
      width 75%
    .row
      display block
      flex-direction column
    .columns
      text-align inherit
    .footer-left
      text-align left
    .footer-center
      top 8px
      text-align center
    .footer-right
      text-align right

/* Larger than tablet */
@media (min-width: 750px)

  .main-navigation
    .header-sign-up
      margin 0 0 0 10px

  .menu-main-menu-container
    display inline-block
    position relative
    padding 0
    top auto
    right auto
    height 100%
    background transparent
    box-shadow none
    vertical-align middle
    & > .nav-menu
      li
        margin 10px 0 11px
        width auto
        text-align center
        > a
          padding 8px 7px 8px

  .site-footer
    form input
      width 100%


/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}



/* Height Queries */

@media (min-height: 480px) {} //Remove {} before use


@media (min-height: 550px) {} //Remove {} before use


@media (min-height: 630px) {} //Remove {} before use


@media (min-height: 768px) {} //Remove {} before use


@media (min-height: 1024px) {} //Remove {} before use


@media (min-height: 1200px) {} //Remove {} before use
