    /*
    Flaticon icon font: Flaticon
    Creation date: 26/04/2016 06:56
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrows:before { content: "\f100"; }
.flaticon-briefcase:before { content: "\f101"; }
.flaticon-business:before { content: "\f102"; }
.flaticon-clock:before { content: "\f103"; }
.flaticon-commerce:before { content: "\f104"; }
.flaticon-cross:before { content: "\f105"; }
.flaticon-crown:before { content: "\f106"; }
.flaticon-envelope:before { content: "\f107"; }
.flaticon-favorite:before { content: "\f108"; }
.flaticon-favorite-1:before { content: "\f109"; }
.flaticon-folder:before { content: "\f10a"; }
.flaticon-food:before { content: "\f10b"; }
.flaticon-food-1:before { content: "\f10c"; }
.flaticon-food-2:before { content: "\f10d"; }
.flaticon-food-3:before { content: "\f10e"; }
.flaticon-furniture:before { content: "\f10f"; }
.flaticon-interface:before { content: "\f110"; }
.flaticon-interface-1:before { content: "\f111"; }
.flaticon-interface-2:before { content: "\f112"; }
.flaticon-interface-3:before { content: "\f113"; }
.flaticon-luxury:before { content: "\f114"; }
.flaticon-medical:before { content: "\f115"; }
.flaticon-medical-1:before { content: "\f116"; }
.flaticon-medieval:before { content: "\f117"; }
.flaticon-monitor:before { content: "\f118"; }
.flaticon-moon:before { content: "\f119"; }
.flaticon-music:before { content: "\f11a"; }
.flaticon-networking:before { content: "\f11b"; }
.flaticon-night:before { content: "\f11c"; }
.flaticon-night-1:before { content: "\f11d"; }
.flaticon-night-2:before { content: "\f11e"; }
.flaticon-notebook:before { content: "\f11f"; }
.flaticon-party:before { content: "\f120"; }
.flaticon-party-1:before { content: "\f121"; }
.flaticon-party-2:before { content: "\f122"; }
.flaticon-party-3:before { content: "\f123"; }
.flaticon-peace:before { content: "\f124"; }
.flaticon-people:before { content: "\f125"; }
.flaticon-people-1:before { content: "\f126"; }
.flaticon-people-2:before { content: "\f127"; }
.flaticon-people-3:before { content: "\f128"; }
.flaticon-present:before { content: "\f129"; }
.flaticon-present-1:before { content: "\f12a"; }
.flaticon-reading:before { content: "\f12b"; }
.flaticon-restaurant:before { content: "\f12c"; }
.flaticon-restaurant-1:before { content: "\f12d"; }
.flaticon-school:before { content: "\f12e"; }
.flaticon-school-1:before { content: "\f12f"; }
.flaticon-squares:before { content: "\f130"; }
.flaticon-suitcase:before { content: "\f131"; }
.flaticon-sunglasses:before { content: "\f132"; }
.flaticon-technology:before { content: "\f133"; }
.flaticon-technology-1:before { content: "\f134"; }
.flaticon-technology-10:before { content: "\f135"; }
.flaticon-technology-11:before { content: "\f136"; }
.flaticon-technology-12:before { content: "\f137"; }
.flaticon-technology-13:before { content: "\f138"; }
.flaticon-technology-14:before { content: "\f139"; }
.flaticon-technology-15:before { content: "\f13a"; }
.flaticon-technology-16:before { content: "\f13b"; }
.flaticon-technology-2:before { content: "\f13c"; }
.flaticon-technology-3:before { content: "\f13d"; }
.flaticon-technology-4:before { content: "\f13e"; }
.flaticon-technology-5:before { content: "\f13f"; }
.flaticon-technology-6:before { content: "\f140"; }
.flaticon-technology-7:before { content: "\f141"; }
.flaticon-technology-8:before { content: "\f142"; }
.flaticon-technology-9:before { content: "\f143"; }
.flaticon-time:before { content: "\f144"; }
.flaticon-time-1:before { content: "\f145"; }
.flaticon-transport:before { content: "\f146"; }
.flaticon-transport-1:before { content: "\f147"; }
.flaticon-vintage:before { content: "\f148"; }
.flaticon-weapon:before { content: "\f149"; }
.flaticon-web:before { content: "\f14a"; }
.flaticon-wrench:before { content: "\f14b"; }
    
    $font-Flaticon-arrows: "\f100";
    $font-Flaticon-briefcase: "\f101";
    $font-Flaticon-business: "\f102";
    $font-Flaticon-clock: "\f103";
    $font-Flaticon-commerce: "\f104";
    $font-Flaticon-cross: "\f105";
    $font-Flaticon-crown: "\f106";
    $font-Flaticon-envelope: "\f107";
    $font-Flaticon-favorite: "\f108";
    $font-Flaticon-favorite-1: "\f109";
    $font-Flaticon-folder: "\f10a";
    $font-Flaticon-food: "\f10b";
    $font-Flaticon-food-1: "\f10c";
    $font-Flaticon-food-2: "\f10d";
    $font-Flaticon-food-3: "\f10e";
    $font-Flaticon-furniture: "\f10f";
    $font-Flaticon-interface: "\f110";
    $font-Flaticon-interface-1: "\f111";
    $font-Flaticon-interface-2: "\f112";
    $font-Flaticon-interface-3: "\f113";
    $font-Flaticon-luxury: "\f114";
    $font-Flaticon-medical: "\f115";
    $font-Flaticon-medical-1: "\f116";
    $font-Flaticon-medieval: "\f117";
    $font-Flaticon-monitor: "\f118";
    $font-Flaticon-moon: "\f119";
    $font-Flaticon-music: "\f11a";
    $font-Flaticon-networking: "\f11b";
    $font-Flaticon-night: "\f11c";
    $font-Flaticon-night-1: "\f11d";
    $font-Flaticon-night-2: "\f11e";
    $font-Flaticon-notebook: "\f11f";
    $font-Flaticon-party: "\f120";
    $font-Flaticon-party-1: "\f121";
    $font-Flaticon-party-2: "\f122";
    $font-Flaticon-party-3: "\f123";
    $font-Flaticon-peace: "\f124";
    $font-Flaticon-people: "\f125";
    $font-Flaticon-people-1: "\f126";
    $font-Flaticon-people-2: "\f127";
    $font-Flaticon-people-3: "\f128";
    $font-Flaticon-present: "\f129";
    $font-Flaticon-present-1: "\f12a";
    $font-Flaticon-reading: "\f12b";
    $font-Flaticon-restaurant: "\f12c";
    $font-Flaticon-restaurant-1: "\f12d";
    $font-Flaticon-school: "\f12e";
    $font-Flaticon-school-1: "\f12f";
    $font-Flaticon-squares: "\f130";
    $font-Flaticon-suitcase: "\f131";
    $font-Flaticon-sunglasses: "\f132";
    $font-Flaticon-technology: "\f133";
    $font-Flaticon-technology-1: "\f134";
    $font-Flaticon-technology-10: "\f135";
    $font-Flaticon-technology-11: "\f136";
    $font-Flaticon-technology-12: "\f137";
    $font-Flaticon-technology-13: "\f138";
    $font-Flaticon-technology-14: "\f139";
    $font-Flaticon-technology-15: "\f13a";
    $font-Flaticon-technology-16: "\f13b";
    $font-Flaticon-technology-2: "\f13c";
    $font-Flaticon-technology-3: "\f13d";
    $font-Flaticon-technology-4: "\f13e";
    $font-Flaticon-technology-5: "\f13f";
    $font-Flaticon-technology-6: "\f140";
    $font-Flaticon-technology-7: "\f141";
    $font-Flaticon-technology-8: "\f142";
    $font-Flaticon-technology-9: "\f143";
    $font-Flaticon-time: "\f144";
    $font-Flaticon-time-1: "\f145";
    $font-Flaticon-transport: "\f146";
    $font-Flaticon-transport-1: "\f147";
    $font-Flaticon-vintage: "\f148";
    $font-Flaticon-weapon: "\f149";
    $font-Flaticon-web: "\f14a";
    $font-Flaticon-wrench: "\f14b";